<?xml version="1.0" encoding="UTF-8"?>
<!-- See: http://logback.qos.ch/manual/configuration.html -->
<configuration debug="false" scan="false" packagingData="false">

	<!-- Building on top of default CONSOLE and FILE appenders provided by spring boot. See: https://github.com/spring-projects/spring-boot/tree/master/spring-boot-project/spring-boot/src/main/resources/org/springframework/boot/logging/logback -->    
    <property 
    	name="CONSOLE_LOG_PATTERN"
    	value="${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint}%clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(%-40.40logger{39}){cyan}%clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
	
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

	<appender name="PLAINOUTPUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%clr(%msg%n){yellow}</pattern>
		</encoder>
	</appender>

	<logger level="INFO" name="plainTextLogger" additivity="false">
		<appender-ref ref="PLAINOUTPUT" />
	</logger>
	
	<logger level="inherited" name="com.matchandtrade" />

	<root level="${logging.level.root:-info}">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

	<!-- Match And Trade Doc Maker Logs -->
	<!-- ============================== -->
	<!-- Documentation generation summary -->
	<logger level="INFO" name="com.matchandtrade.doc.executable.MainExecutable" />
	<logger level="INFO" name="com.github.rafasantos.restdocmaker.RestDocMakerGenerator" />
	
	<!-- Log all Request/Response via MatchAndTradeClient -->
	<logger level="INFO" name="com.matchandtrade.doc.util.MatchAndTradeClient" />
	
</configuration>
