<h1>Article Attachment</h1>
<p>
	<i>Resource</i> for <span class="incode">Attachments</span> of an <span class="incode">Article</span>.
    See: <a href="attachments.html"></a>
</p>

<h3>Operations</h3>
<ul>
	<li><span class="incode">TODO DELETE rest/v1/articles/{articleId}/attachments/{attachmentId}</span></li>
	<li><span class="incode">PUT rest/v1/articles/{articleId}/attachments/{attachmentId}</span></li>
</ul>

<h3>Authorization</h3>
<ul>
	<li>All operations can be performed by clients with a valid <span class="incode">Authorization</span> header</li>
</ul>

<h3>Resource</h3>
    See: <a href="attachments.html"></a>

<h3>Examples</h3>
<p>
    ${DELETE_PLACEHOLDER}
</p>
<p>
    ${PUT_PLACEHOLDER}
</p>
