<h1>Authenticate</h1>
<p>
	<i>Endpoint</i> to authenticate on the system.
	It redirects the client to an oAuth server (e.g.: Google oAuth) and returns with a header called <span class='incode'>Authorization</span>.
	Additionally, it creates a <span class='incode'>Cookie: MTSESSION</span> allowing requests to <span class='incode'>authenticate/info</span> which also returns the <span class='incode'>Authorization</span> header.
</p>

<p>
The <span class='incode'>Authorization</span> header acts as a session token and needs to be included to any URL witch requires authorization.
</p>

<h3>Operations</h3>
<ul>
	<li><span class='incode'>GET authenticate</span></li>
	<li><span class='incode'>GET authenticate/info</span></li>
	<li><span class='incode'>GET authenticate/sign-out</span></li>
</ul>

<h3>Authorization</h3>
<ul>
	<li>Public endpoints: <span class='incode'>authenticate</span> and <span class='incode'>authenticate/sing-out</span></li>
	<li>Only requests containing <span class='incode'>Cookie: MTSESSION</span> are authorized to access <span class='incode'>authenticate/info</span></li>
</ul>

<h3>Examples</h3>
<p>
${AUTHENTICATE_PLACEHOLDER}
</p>
<p>
${AUTHENTICATE_INFO}
</p>
<p>
${SIGN_OUT_PLACEHOLDER}
</p>