<h1>ResourceName</h1>
<p>
	<i>Resource</i> for ...
</p>

<h3>Operations</h3>
<ul>
	<li><span class="incode">POST rest/v1/.../</span></li>
	<li><span class="incode">PUT rest/v1/.../{tradeId}</span></li>
	<li><span class="incode">GET rest/v1/.../{tradeId}</span></li>
	<li><span class="incode">GET rest/v1/...?{queryParameters}</span></li>
	<li><span class="incode">GET rest/v1/.../</span></li>
	<li><span class="incode">DELETE rest/v1/.../{...Id}</span></li>
</ul>

<h3>Authorization</h3>
<ul>
	<li>Only authenticated clients</li>
</ul>

<h3>Resource</h3>
<table>
	<tr>
		<th>Property Name</th>
		<th>Format</th>
		<th>Description</th>
	</tr>
	<tr>
		<td></td>
		<td>read-write, mandatory, unique, 3 min length, 150 max length</td>
		<td></td>
	</tr>
</table>

<h3>Query Parameters</h3>
<table>
	<tr>
		<th>Property Name</th>
		<th>Description</th>
	</tr>
	<tr>
		<td></td>
		<td>Resources matching <span class="incode">...</span></td>
	</tr>
	<tr>
		<td>_pageSize</td>
		<td>See <a href='rest-guide.html'>pagination</a></td>
	</tr>
	<tr>
		<td>_pageNumber</td>
		<td>See <a href='rest-guide.html'>pagination</a></td>
	</tr>
</table>

<h3>Rules</h3>
<ul>
	<li>...</li>
</ul>

<h3>Examples</h3>
${EXAMPLE-1}

${EXAMPLE-2}