<h1>Welcome to Match and Trade</h1>

Match and Trade is a web application where many people trade several items at once using an algorithm to determine which items will be traded. A typical trade normally follow distinct steps:

<ul>
	<li>An organizer creates a trade</li>
	<li>Members subscribe to the trade and submit their items</li>
	<li>Members choose which items they would like to trade</li>
	<li>The organizer closes the trade and the website generates a list with the items to be traded</li>
	<li>Members exchange items according to the generated list</li>
</ul>

<h1>RESTful Documentation</h1>

<p>Match And Trade provides a powerful RESTful API which other applications may interact with.</p>

<h2>Resources</h2>
Here is the list of all endpoints available thought the RESTful API.

<ul>
	<li><a href='authenticate.html'>authenticate</a></li>
	<li><a href='authentications.html'>authentications</a></li>
	<li><a href='items.html'>trade-memberships/{tradeMembershipId}/items</a></li>
	<li><a href='offers.html'>offers</a></li>
	<li><a href='search.html'>search</a></li>
	<li><a href='trades.html'>trades</a></li>
	<li><a href='trade-memberships.html'>trade-memberships</a></li>
	<li><a href='users.html'>users</a></li>
</ul>

<h2>Use Cases</h2>
<p>
	Check out the <a href='use-cases.html'>Use Cases</a> page for typical usage with examples.
</p>

<h2>Endpoints vs Resources</h2>
<p>
	Generally speaking, <i>resources</i> have consistent format and behavior whereas <i>endpoints</i> may vary in format and behavior.
	<i>Resource</i> URLs are a specialized <i>endpoints</i> which provides standard operations over a resource. Example: <i>resources</i> support HATEOAS, pagination and query parameters are relevant to the given resource.
	
	<i>Endpoint</i> URLs may not follow all constraints of resource URLs. Some may also perform actions (e.g.: <a href="authenticate.html">authenticate</a>). See <a href='https://www.w3.org/TR/2011/REC-ws-metadata-exchange-20111213/#terms'>Web Services - Terminology</a> for more details.
</p>

<h2>HATEOAS</h2>
<p>
	The importance of HATEOAS cannot be emphasized enough. This application uses the <a href='https://spring.io/understanding/HATEOAS'>Spring HATEOAS</a> approach to handle hypermedia
</p>

<h2>Expanding</h2>
<p>
	Expanding resources (see <a href='https://developer.atlassian.com/confdev/confluence-server-rest-api/expansions-in-the-rest-api'>Atlassian API</a> for an example) is discouraged while multiple asynchronous calls are favored.
</p>

<h2>Pagination</h2>
<p>
	REST clients should rely on the pagination information which is included in responses with multiple results. The pagination follows the <a href='https://www.w3.org/wiki/LinkHeader'>LinkHeader</a> specification along with <a href='http://www.rfc-editor.org/rfc/rfc5988.txt'>RFC5988</a>. It works similarly to <a href='https://developer.github.com/guides/traversing-with-pagination'>GitHub's pagination</a>.
</p>
<p>
	When performing a GET to resources that returns an array you can pass the query parameters <span class='incode'>_pageSize</span> to indicate the number of records returned in a page and <span class='incode'>_pageNumber</span> to indicate which page number you want to return. Note that <span class='incode'>_pageNumber</span> start at number 1.
</p>

<p>Example:<p>
${REST_GUIDE_PAGINATION}

<h2>PUT vs PATCH</h2>
<p><span class='incode'>PUT</span> requests are favored over <span class='incode'>PATH</span> requests. While <span class='incode'>PATH</span> may offer smaller payloads, it also introduces development complexity for little benefit.</p>

<p>Additionally, when doing a <span class='incode'>PUT</span> or <span class='incode'>PATCH</span> it is recommended to do not include the <span class='incode'>id</span> for the given resource in the payload. For example, when doing a <span class='incode'>PUT /trades/{tradeId}</span> do not include <span class='incode'>tradeId</span> in the payload, it will be simply ignored.</p>

<p>Example:</p>
<div class='code'>-----  Request  -----
PUT http://localhost:8081/rest/v1/trades/1
Headers:  {Authorization: 7075-1255-9178}{Content-Type: application/json}

{
  // Do not enter tradeId in this payload, it will be ignored.
  "name" : "Name to update"
}

-----  Response  -----
Status:   HTTP/1.1 200 

{
  "name" : "Name to update",
  "tradeId" : 1,
  "_links" : [ {
    "rel" : "self",
    "href" : "http://localhost:8081/rest/v1/trades/1"
  } ]
}
</div>

<h2>Many To Many Relationships</h2>
<p>Relationships are treated as resources similarly to what is described on this <a href='https://rafaelsantosbra.wordpress.com/2016/10/18/many-to-many-relationships-for-rest-api-with-a-relationship-attribute/'>blog post</a>.</p>

<h2>Development Guide</h2>
Checkout our <a href='development-guide.html'>Development Guide</a> if you want to contribute or customize the application.

<h2>Deployment Guide</h2>
Follow the <a href='deployment-guide.html'>Deployment Guide</a> if you want to host your own instance of the application.
