<h1>Offer</h1>
<p>
	<i>Resource</i> for <span class='incode'>Offer</span>.
	An <span class='incode'>Offer</span> is a proposal to exchange an offered <a href='items.html'>Item</a>
	for a wanted <a href='items.html'>Item</a>.
</p>

<h3>Operations</h3>
<ul>
	<li><span class='incode'>POST /rest/v1/trade-memberships/{tradeMembershipId}/offers/</span></li>
	<li><span class='incode'>GET /rest/v1/trade-memberships/{tradeMembershipId}/offers/{offerId}</span></li>
	<li><span class='incode'>GET /rest/v1/trade-memberships/{tradeMembershipId}/offers?{queryParameters}</span></li>
	<li><span class='incode'>DELETE /rest/v1/trade-memberships/{tradeMembershipId}/offers/{offerId}</span></li>
</ul>

<h3>Authorization</h3>
<ul>
	<li>All operations can be performed by clients with a valid <span class='incode'>Authorization</span> header</li>
</ul>

<h3>Resource</h3>
<table>
	<tr>
		<th>Property Name</th>
		<th>Format</th>
		<th>Description</th>
	</tr>
	<tr>
		<td>offerId</td>
		<td>read-write, mandatory</td>
		<td>Id associated with this resource</td>
	</tr>
	<tr>
		<td>offeredItemId</td>
		<td>ready-only</td>
		<td>Id associated with the offered <a href='items.html'>Item</a></td>
	</tr>
	<tr>
		<td>wantedItemId</td>
		<td>ready-only</td>
		<td>Id associated with the wanted <a href='items.html'>Item</a> in exchange for the <span class="incode">Offer.offeredItemId</span></td>
	</tr>
</table>

<h3>Query Parameters</h3>
${PAGINATION_TABLE}

<h3>Rules</h3>
<ul>
	<li>
		<span class="incode">Offer.offeredItemId</span> and <span class="incode">Offer.wantedItemId</span> must differ.
	</li>
	<li>
		<span class="incode">Offer.offeredItemId</span> and <span class="incode">Offer.wantedItemId</span> must belong existing Items.
	</li>
	<li>
		<span class="incode">Offer.offeredItemId</span> must belong to the offering <span class="incode">User.userId</span>
		when performing a <span class="incode">POST</span> or <span class="incode">DELETE</span> operations.
	</li>
	<li>
		<span class="incode">Offer.offeredItemId</span> and <span class="incode">Offer.wantedItemId</span> must be associated to the same Trade.
	</li>
</ul>

<h3>Examples</h3>
${OFFERS_POST}

${OFFERS_GET}

${OFFERS_GET_ALL}

${OFFERS_DELETE}
