<h1>Offer</h1>
<p>
	<i>Resource</i> for <span class="incode">Offer</span>.
	An <span class="incode">Offer</span> is a proposal to exchange an offered <a href='articles.html'>Article</a>
	for a wanted <a href='articles.html'>Article</a>.
</p>

<h3>Operations</h3>
<ul>
	<li><span class="incode">POST /rest/v1/memberships/{membershipId}/offers/</span></li>
	<li><span class="incode">GET /rest/v1/memberships/{membershipId}/offers/{offerId}</span></li>
	<li><span class="incode">GET /rest/v1/memberships/{membershipId}/offers?{queryParameters}</span></li>
	<li><span class="incode">DELETE /rest/v1/memberships/{membershipId}/offers/{offerId}</span></li>
</ul>

<h3>Authorization</h3>
<ul>
	<li>All operations can be performed by clients with a valid <span class="incode">Authorization</span> header</li>
</ul>

<h3>Resource</h3>
<table>
	<tr>
		<th>Property Name</th>
		<th>Format</th>
		<th>Description</th>
	</tr>
	<tr>
		<td>offerId</td>
		<td>read-write, mandatory</td>
		<td>Id associated with this resource</td>
	</tr>
	<tr>
		<td>offeredArticleId</td>
		<td>ready-only</td>
		<td>Id associated with the offered <a href='articles.html'>Article</a></td>
	</tr>
	<tr>
		<td>wantedArticleId</td>
		<td>ready-only</td>
		<td>Id associated with the wanted <a href='articles.html'>Article</a> in exchange for the <span class="incode">Offer.offeredArticleId</span></td>
	</tr>
</table>

<h3>Query Parameters</h3>
<table>
	<tr>
		<th>Property Name</th>
		<th>Description</th>
	</tr>
	<tr>
		<td>offeredArticleId</td>
		<td>Refers to a <span class="incode">Offer.offeredArticleId</span></td>
	</tr>
	<tr>
		<td>wantedArticleId</td>
		<td>Refers to a <span class="incode">Offer.wantedArticleId</span></td>
	</tr>
	${PAGINATION_ROWS}
</table>

<h3>Rules</h3>
<ul>
	<li>
		<span class="incode">Offer.offeredArticleId</span> and <span class="incode">Offer.wantedArticleId</span> must differ.
	</li>
	<li>
		<span class="incode">Offer.offeredArticleId</span> and <span class="incode">Offer.wantedArticleId</span> must belong existing Articles.
	</li>
	<li>
		<span class="incode">Offer.offeredArticleId</span> must belong to the offering <span class="incode">User.userId</span>
		when performing a <span class="incode">POST</span> or <span class="incode">DELETE</span> operations.
	</li>
	<li>
		<span class="incode">Offer.offeredArticleId</span> and <span class="incode">Offer.wantedArticleId</span> must be associated to the same Trade.
	</li>
</ul>

<h3>Examples</h3>
${OFFERS_POST}

${OFFERS_GET}

${OFFERS_SEARCH}

${OFFERS_DELETE}
