<h1>Search</h1>
<p>
	<i>Endpoint</i> to perform advanced searches.
	Its usage differs according to the given <span class='incode'>Search.recipe</span> property.
</p>

<h3>Operations</h3>
<ul>
	<li><span class='incode'>POST rest/v1/search</span></li>
</ul>

<h3>Authorization</h3>
<ul>
	<li><span class='incode'>"Search.recipe": "ARTICLES"</span> Only clients with a valid <span class='incode'>Authorization</span> header</li>
</ul>

<h3>Root Resource</h3>
<table>
	<tr>
		<th>Property Name</th>
		<th>Format</th>
		<th>Description</th>
	</tr>
	<tr>
		<td>recipe</td>
		<td>mandatory, enumeration (see <a href="#recipes">Recipes</a>)</td>
		<td>The search recipe to be used. Each recipe may return different response bodies and support different request bodies</td>
	</tr>
	<tr>
		<td>criteria</td>
		<td>See <a href="#criteria-resource">Criteria</a></td>
		<td>The search criteria for this search</td>
	</tr>
</table>

<h3><a id="recipes">Recipes</a></h3>
<table>
	<tr>
		<th>Recipe Name</th>
		<th>Description</th>
		<th>Criteria Specification</th>
	</tr>
	<tr>
		<td>ARTICLES</td>
		<td>Returns an array of <a href='articles.html'>Articles</a> matching the given <span class='incode'>Search.criteria</span></td>
		<td>
			<span class='incode'>"key": "Trade.tradeId"</span> from a <a href='trades.html' class='incode'>Trade</a><br>
			<span class='incode'>"value":</span> numeric value
		</td>
	</tr>
</table>

<h3><a id="criteria-resource">Criteria</a></h3>
<table>
	<tr>
		<th>Property Name</th>
		<th>Format</th>
		<th>Description</th>
	</tr>
	<tr>
		<td>key</td>
		<td>mandatory, string</td>
		<td>Values differ according to the <span class='incode'>Search.recipe</span></td>
	</tr>
	<tr>
		<td>value</td>
		<td>mandatory, number or string according to the <span class='incode'>Search.recipe</span></td>
		<td>Possible values and types differ according to the <span class='incode'>Search.recipe</span></td>
	</tr>
	<tr>
		<td>operator</td>
		<td>optional, enumeration, default value: <span class='incode'>AND</span></td>
		<td>Possible values are <span class='incode'>AND</span> and <span class='incode'>OR</span> </td>
	</tr>
	<tr>
		<td>matcher</td>
		<td>optional, enumeration, default value: <span class='incode'>EQUALS</span></td>
		<td>Possible values are <span class='incode'>EQUALS</span>, <span class='incode'>NOT_EQUALS</span>, <span class='incode'>EQUALS_IGNORE_CASE</span>, <span class='incode'>LIKE_IGNORE_CASE</span></td>
	</tr>
</table>

<h3>Query Parameters</h3>
${PAGINATION_TABLE}

<h3>Examples</h3>
<p>
	Search for all <a href='articles.html'>Articles</a> belonging to <a class='incode' href='trades.html'>Trade.tradeId = ${TRADE_ID}</a>
</p>
${SEARCH_POST_PLACEHOLDER}
