<h1>Use Cases</h1>
This page describes a typical use case with the following workflow:

<ul>
	<li>
		Olavo <a href='authenticate.html'>Authenticates</a> on the system.
		<i>Note that the returned <span class='incode'>Authorization</span> header needs to be included in all secured endpoints.</i>
	</li>
	<li>
		Olavo gets his <a href='authentications.html'>Authentication</a> details.
	</li>
	<li>
	  	Olavo creates a <a href='trades'>Trade</a>, by default he becomes the <i>organizer</i> of the <a href='trades'>Trade</a>.
		The <span class='incode'>Trade.state</span> is <span class='incode'>SUBMITTING_ITEMS</span>
		meaning that other <a href='uses.html'>Users</a> are allowed to become <i>members</i> and submit <a href='items.html'>Items</a>.
	</li>
	<li>
		Olavo gets his <a href='trade-memberships.html'>TradeMemberhip</a> details.
	</li>
	<li>
	  	Olavo adds two <a href='items.html'>Items</a> to his <a href='trade-memberships.html'>TradeMemberhip</a>.
	</li>
	<li>
	  	Maria <a href='authenticate.html'>Authenticates</a> on the system.
		<i>Note that the returned <span class='incode'>Authorization</span> header needs to be included in all secured endpoints.</i>
	</li>
	<li>
		Maria gets her <a href='authentications.html'>Authentication</a> details.
	</li>
	<li>
		Maria subscribes to Olavo's <a href='trades.html'>Trade</a> via <a href='trade-memberships.html'>TradeMemberhip</a> endpoint.
	</li>
	<li>
	  	Maria adds three <a href='items.html'>Items</a> to her <a href='trade-memberships.html'>TradeMemberhip</a>.
	</li>
	<li>
		Olavo changes the <span class='incode'>Trade.state</span> to <span class='incode'>MATCHING_ITEMS</span>.
		<i>Note that only <a href='trades'>Trade</a> owners can change the <span class='incode'>Trade.state</span></i>
	</li>
</ul>

<p>
	Olavo is a <a href='users.html'>User</a> which <a href='authenticate.html'>Authenticates</a> on the system.
	<i>Note that the returned <span class='incode'>Authorization</span> header needs to be included in all secured endpoints.</i>	
</p>
${AUTHENTICATE_SNIPPET}

<p>
	Olavo gets his <a href='authentications.html'>Authentication</a> details.
	<i>Note that the returned <span class='incode'>Authorization</span> header needs to be included in all secured endpoints.</i>
</p>
${AUTHENTICATIONS_SNIPPET}

<p>
  	Olavo creates a <a href='trades'>Trade</a>, by default he becomes the <i>organizer</i> of the <a href='trades'>Trade</a>.
	The <span class='incode'>Trade.state</span> is <span class='incode'>SUBMITTING_ITEMS</span>
	meaning that other <a href='uses.html'>Users</a> are allowed to become <i>members</i> and submit <a href='items.html'>Items</a>.
</p>
${TRADES_POST_SNIPPET}

<p>
	Olavo gets his <a href='trade-memberships.html'>TradeMemberhip</a> details.
</p>
${TRADE_MEMBERSHIP_OWNER}

<p>
  	Olavo adds two <a href='items.html'>Items</a> to his <a href='trade-memberships.html'>TradeMemberhip</a>.
</p>
${ITEM_ONE}
${ITEM_TWO}

<p>
  	Maria <a href='authenticate.html'>Authenticates</a> on the system.
  	<i>Note that the returned <span class='incode'>Authorization</span> header needs to be included in all secured endpoints.</i>
</p>
${AUTHENTICATE_SNIPPET_SECOND}

<p>
	Maria gets her <a href='authentications.html'>Authentication</a> details.
</p>
${AUTHENTICATIONS_SNIPPET_SECOND}

<p>
	Maria subscribes to Olavo's <a href='trades.html'>Trade</a> via <a href='trade-memberships.html'>TradeMemberhip</a> endpoint.
</p>
${TRADES_MEMBERSHIP_POST_SNIPPET}

<p>
  	Maria adds three <a href='items.html'>Items</a> to her <a href='trade-memberships.html'>TradeMemberhip</a>.
</p>
${ITEM_THREE}
${ITEM_FOUR}
${ITEM_FIVE}

<p>
	Olavo changes the <span class='incode'>Trade.state</span> to <span class='incode'>MATCHING_ITEMS</span>.
	<i>Note that only <a href='trades.html'>Trade</a> owners can change the <span class='incode'>Trade.state</span></i>
</p>
${TRADE_MATCHING_ITEMS_SNIPPET}

<p>
	Olavo matches his <a href='items.html'>Items</a> with <a href='items.html'>Items</a> from other <i>members</i>
	via the <a href='want-items.html'>WantItems</a> endpoint.
</p>
${WANT_ITEMS_ONE}

<p>
	Maria matches her <a href='items.html'>Items</a> with <a href='items.html'>Items</a> from other <i>members</i>
	via the <a href='want-items.html'>WantItems</a> endpoint.
</p>
${WANT_ITEMS_TWO}


