<h1>Users</h1>
<p>
<p>
	<i>Resource</i> for users.
	Typically, users are created in the application on the first time they authenticate in the system.
	See <a href='authenticate.html'>authenticate</a> for more details.
</p>

<h3>Operations</h3>
<ul>
	<li><span class='incode'>PUT rest/v1/users/{userId}</span></li>
	<li><span class='incode'>GET rest/v1/users/{userId}</span></li>
</ul>

<h3>Authorization</h3>
<ul>
	<li>Only authenticated clients</li>
	<li>
		Clients can only get the resource associated with their own authenticated session.
		In other words, firstly the client needs to get the <span class='incode'>userId</span> from <a href='authentications.html'>authentications</a> and pass it in the URL.
	</li>
</ul>

<h3>Resource</h3>
<table>
	<tr>
		<th>Property Name</th>
		<th>Format</th>
		<th>Description</th>
	</tr>
	<tr>
		<td>email</td>
		<td>read-only</td>
		<td>The user's email address, this value is assigned by the Authentication Authority (e.g: Google oAuth) during the sign-up process</td>
	</tr>
	<tr>
		<td>name</td>
		<td>read-write, 150 max length</td>
		<td>The user's name this value is firstly assigned by the Authentication Authority during the sign-up process</td>
	</tr>
	<tr>
		<td>userId</td>
		<td>read-only</td>
		<td>Id associated with this resource</td>
	</tr>
</table>

<h3>Query Parameters</h3>
<table>
	<tr>
		<th>Property Name</th>
		<th>Description</th>
	</tr>
	<tr>
		<td>name</td>
		<td>Resources matching <span class='incode'>User.name</span></td>
	</tr>
	<tr>
		<td>_pageSize</td>
		<td>See <a href='rest-guide.html'>pagination</a></td>
	</tr>
	<tr>
		<td>_pageNumber</td>
		<td>See <a href='rest-guide.html'>pagination</a></td>
	</tr>
</table>

<h3>Examples</h3>
${USERS_PUT_SNIPPET}

${USERS_GET_SNIPPET}